:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --main-color: #2196f3;
  --font-main-color: #212121;
  --font-secondary-color: #757575;
  --font-dark-theme: #ffffff;
  --background-color-main: #2f303a;
  --background-color-sec: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: var(--font-main-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  align-items: center;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
}
.section:not(.advantages) {
  padding-bottom: 94px;
}
/*----Components----*/

.logo-link,
.logo-link-dark-theme {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-link {
  color: var(--font-main-color);
}
.logo-link span {
  color: var(--main-color);
}
.logo-link-dark-theme {
  color: var(--font-dark-theme);
}
.logo-link-dark-theme span {
  color: var(--main-color);
}
.logo-link:focus,
.logo-link:hover,
.logo-link-dark-theme:hover,
.logo-link-dark-theme:focus {
  color: var(--main-color);
}

.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
}

/*----Header Menu----*/
.header .container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header {
  border-bottom: 1px solid #ececec;
}

.logo-link {
  display: flex;
  margin-right: 93px;
}

.header-h2.link-active {
  color: var(--main-color);
}
.navi .navi-list {
  display: flex;
}

.navi-list-item:not(:last-child) {
  margin-right: 46px;
}

.contact-link {
  display: flex;
  margin-left: auto;
}

.contact-phone-header {
  margin-left: 50px;
}

.navi-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--font-main-color);
}
.navi-list .link-active {
  color: var(--main-color)
}
.navi-list:hover,
.navi-list:focus {
  color: var(--main-color);
}

.contact-link-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--font-secondary-color);
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: var(--main-color);
}

/*----Hero----*/

.hero .container {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  padding-bottom: 106px;
}

.hero {
  background: var(--background-color-main);
}
.hero-h1 {
  max-width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--font-dark-theme);
  padding-bottom: 30px;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--font-dark-theme);
  background: var(--main-color);
  padding: 10px 42px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/*----Advantages----*/

.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advant-list-item {
  max-width: 270px;
  justify-content: space-between;
}

.advant-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advant-text {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--font-secondary-color);
  margin-top: 10px;
}

/* ----About---- */
.about-list {
  display: flex;
}

.about-item {
  margin-top: 50px;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

/* ----Team---- */

.team {
  background: var(--background-color-sec);
  margin: 0;
}
.name {
  font-weight: 500;
  color: var(--font-main-color);
  margin-bottom: 10px;
}

.team-dscr {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center; /*---FIGCAPTION---*/
  color: var(--font-secondary-color);
  padding: 30px 0;
  border-radius: 0px 0px 4px 4px;
}
.team .header-h2 {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team figure {
  margin: 0;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* ----Footer---- */
.footer {
  background: var(--background-color-main);
  padding: 60px 0;
}
.address-item {
  margin-bottom: 9px;
}
.address {
  margin-top: 20px;
}
.address-street {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--font-dark-theme);
}

.contact-link-footer {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.contact-link-footer:hover,
.contact-link-footer :focus {
  color: var(--main-color);
}

/* ----PORTFOLIO---- */

.button-filter-list {
  display: flex;
  justify-content: center;
  margin-left: -8px;
}

.modal-btn-filter {
  display: block;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
  background: var(--background-color-sec);
  margin-left: 8px;
  margin-bottom: 50px;
  padding: 6px 22px;
}
.modal-btn-filter:hover,
.modal-btn-filter:active {
  color: #ffffff;
  background: var(--main-color);
  box-shadow: 0px 3px 1px rgba(117, 78, 78, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio .project-card {
  margin: 0;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.portfolio-list-item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 20px 24px 4px;
}

.project-type {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--font-secondary-color);
  margin: 0 24px 20px;
}
.projekt-desc {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
